body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(
    90deg,
    rgba(213, 212, 232, 1) 4%,
    rgba(90, 90, 221, 1) 14%,
    rgba(0, 212, 255, 1) 56%
  );
}
.container {
  max-width: 300px;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 5%;
  color: white;
}
.welcometag {
  font-size: 30px;
  font-weight: bold;
}
.logoutbtn {
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  background: rgb(213, 212, 232);
  background: linear-gradient(
    90deg,
    rgba(213, 212, 232, 1) 4%,
    rgba(90, 90, 221, 1) 14%,
    rgba(0, 212, 255, 1) 56%
  );
  font-weight: bold;
  margin-top: 5px;
}
.container .content {
  font-size: 20px;
  margin-bottom: 5px;
}
